---
permalink: /
layout: default.liquid
pagination:
  include: all
---
This is my Index page!

{% for page in paginator.pages %}
 <a href="{{page.permalink}}">{{ page.title }}</a>
{% endfor %}


<div>
  {% if paginator.previous_index %}
    <a href="/{{ paginator.previous_index_permalink }}"
    class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_index %}
    <a href="/{{ paginator.next_index_permalink }}"
    class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.index }} / {{ paginator.total_indexes }}</span>
</div>
