---
<h1>Cool Dinos:</h1>

<ul>
 <li><strong>{{data.dinos.earl.name}}</strong>, {{data.dinos.earl.species}}{% if data.dinos.earl.job %}, {{data.dinos.earl.job}}{% endif %}</li> 
 <li><strong>{{data.dinos.frances.name}}</strong>, {{data.dinos.frances.species}}{% if data.dinos.frances.job %}, {{data.dinos.frances.job}}{% endif %}</li> 
 <li><strong>{{data.dinos.roy.name}}</strong>, {{data.dinos.roy.species}}{% if data.dinos.roy.job %}, {{data.dinos.roy.job}}{% endif %}</li> 
 <li><strong>{{data.dinos.charlene.name}}</strong>, {{data.dinos.charlene.species}}{% if data.dinos.charlene.job %}, {{data.dinos.charlene.job}}{% endif %}</li>
</ul>